@model CourseDepartmentViewModel

@{
    SelectList DepItem = new SelectList(Model.Departments,"Id", "Name");
    ViewData["Title"] = "AddCourse";
}

<h1>Adding Course</h1>

<form asp-action="AddCourse" asp-controller="Course" method="post" class="form-group">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="degree"></label>
        <input asp-for="degree" class="form-control" />
        <span asp-validation-for="degree" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="minDegree"></label>
        <input asp-for="minDegree" class="form-control" />
        <span asp-validation-for="minDegree" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Hours"></label>
        <input asp-for="Hours" class="form-control" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DepartmentID"></label>
        <select asp-for="DepartmentID" asp-items="DepItem" class="form-control">
        <span asp-validation-for="DepartmentID" class="text-danger"></span>
        <option value ="0"  > -- Select Department -- </option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Add New Course</button>
</form>



        <!--ValidationClient Side-->
        @* /lib/jquery/dist/jquery.min.js *@
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


